<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
</head>
<body>
  <%if (loginMessage) {%>
    <p><%= loginMessage %></p>
  <% } %>

  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Enter your username">
    <input type="password" name="password" placeholder="Enter your password">
    <button type="submit">
      Login
    </button>
  </form>
</body>
</html>